<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #B1D7B4;
 }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
    </style>
</head>
<body>
    <div class="card" style="padding-top:3%; margin-bottom:3%; text-align:center">
        <div class="container">
          <h1><b>We Kaleyrans.!</b></h1>
          <p>At Kaleyra, our purpose is simple, we’re here to simplify your business communication needs. As a global player, we fuel innovation to help you serve your customers better. Our cloud-based platform gives you the support you need to reach out to your customers in the best way possible, thus driving an excellent customer experience. We aim at helping businesses across dimensions to improve productivity and empower your overall customer satisfaction. We believe in simplicity, and an easy to use platform; helping enterprises to adapt and integrate seamlessly. We have integrated our Cloud platform with CRM giants such as Salesforce, Zoho, Vtiger, Magento and business tools such as Google Spreadsheets, Leadsquared, and Zapier to name a few. Kaleyra is trusted and used by over 3500 companies spanning across the globe helping enterprises with their business communication.Bringing together our strengths, Kaleyra is all set to transform the way you communicate with your audience through intelligent Messaging, Voice, and Fintech services.
        We have over 600 unique and creative minds who drive our company, with a passion for technology, innovation, and growth. With the unique and seamless experience that we offer, you can now turn those numbers into loyal and promising customers.</p>
        </div>
      </div>
      <center><a href="https://www.kaleyra.com/">Read more about us</a></center>
</body>
</html>